<html>


<style>
    #qp {
        color: rgb(211, 182, 16);
    }

    .abc {
        color: rgb(60, 255, 0);
    }

    .abc1 {
        color: rgb(255, 0, 0);
    }

    body {
        background-color: lightblue;
    }
</style>

<script>
    document.getElementById("includedContent").lo
</script>

<body>
    {%   block bar    %}
        {% include "blog/nav.html"%}
    {%   endblock     %}
    <p>Looks like you are actually using me for real work! :D</p>
    <p>I actually didn't expect that, but it's nice to be an asset for my master</p>
    <p>
        <a href="/media/">
            Click here to continue streaming</a>
    </p>
</body>

<script>

    document.getElementById("qp").innerHTML = "abc";
</script>


</html>